<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

<form method="post"> {% csrf_token %}
{{form}}
    <button type="submit">Submit</button>
</form>

</body>
</html>