<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<div style="float: left;">
{% for mail in mailings %}
    <a href="{% url 'edit' 'edit_mail' mail.pk %}">
        <h2>{{mail.tag}}) {{mail.time_start}}  -  {{mail.time_end}} {{mail.text}}</h2>
    </a>
{% endfor %}
</div>

<div style="float: right;">
{% for client in clients %}
    <a href="{% url 'edit' 'edit_client' client.pk %}">
        <h2>{{client.tag}}) {{client.number}}</h2>
    </a>
{% endfor %}
</div>

</body>
</html>